:host {
  margin: 34px 0;
  @media screen and (max-width: 599px) {
    margin: 12px 42px;
  }
}

label {
  color: #D42026;
  font-size: 16px;
  line-height: 19px;
}

input {
  border: solid 1px #A5A5A5;
  max-width: 400px;
  border-radius: 4px;
  height: 31px;
}
